* {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    background-color: lavenderblush;
}
[asd = "inline"]{
    display:inline-block;
    text-indent: 1.25em;
    }
[asd = "inline"]+verse{
    display:inline-block;
    text-indent: 0.0em;
}
[asd = "newline"]{
    display:block;
    margin: 0.0em;
}
author{
    text-align: center;
    font-size: x-large;
    font-variant-caps: petite-caps;
}
play {  
    text-align: center;
    font-size: xx-large;
    font-variant-caps: petite-caps;
}
act {
    text-align: center;
    font-size: x-large;
    font-variant-caps: petite-caps;
    border-top: 4px solid black;
}
scene{
    text-align: center;
    font-size: x-large;
    font-variant-caps: petite-caps;
}

instruction {
    text-indent: 1.25em;
    color: gray;
    font-style: italic;
    text-align: left;
    font-size: medium;
    font-variant-caps: normal
}

speaker {
    font-weight: bold;
    font-size: medium;
    text-align: left;
    font-variant-caps: normal;
}
verse { 
    text-indent: 1.25em;
    font-weight: normal;
    text-align: left;
    font-size: medium;
    font-variant-caps: normal
}
title{
    display: flex;
    justify-content: center;
    align-items: center;
}
act>title{
    text-align: center;
    font-size: x-large;
    font-variant-caps: petite-caps;
    border-top: 4px solid black;
}
scene>title{
    text-align: center;
    font-size: x-large;
    border: 1px solid red;
}